<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="pimexin_code_fixer.Ayarlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="htmlconfig" value="C:\Users\cagdasa\Desktop\html.config.txt"/>
    <add key="cssconfig" value="C:\Users\cagdasa\Desktop\css.config.txt"/>
    <add key="jsconfig" value="C:\Users\cagdasa\Desktop\js.config.txt"/>
  </appSettings>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
    <pimexin_code_fixer.Ayarlar>
      <setting name="CssConfigPath" serializeAs="String">
        <value>C:\Users\cagdasa\Desktop\css.config.txt</value>
      </setting>
      <setting name="HmlConfigPath" serializeAs="String">
        <value>C:\Users\cagdasa\Desktop\html.config.txt</value>
      </setting>
    </pimexin_code_fixer.Ayarlar>
  </userSettings>
</configuration>
